.main-div {
  .page-title {
    animation: fadeInUp 0.7s both;
    -webkit-animation: fadeInUp 0.7s both;
  }
}

.fade-in-after-page-title-load {
  animation: fadeIn 0.7s both;
  -webkit-animation: fadeIn 0.7s both;
  animation-delay: 0.7s;
}
